.header {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-items: center;
  margin: 10px auto;
}
.navs {
  list-style: none;
  display: flex;
}

.navs li {
  padding: 7px;
}
.navs li:hover {
  background-color: blue;
}

.tittle {
  color: blue;
}
