.header {
  display: flex;
  justify-content: space-between;
  width: 60%;
  align-items: center;
  margin: 10px auto;
}
.navs {
  list-style: none;
  display: flex;
}

.navs li {
  padding: 7px;
}
.navs li:hover {
  background-color: blue;
}

.maintittle {
  position: normal;
  font-size: xx-large;
}

.thetittle {
  color: #009bc0;
  width: 196.74px;
  height: 125px;
  top: 186px;
  left: 292px;
}
.blogtittle {
  color: #1b3854;
  width: 257.61px;
  height: 125px;
  top: 186px;
  left: 499.61px;
}
