@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,700;1,100&display=swap");

.cont {
  text-align: center;
}

.cont p {
  line-height: 10px;
}

@media screen and (max-width: 690px) {
  .cont p {
    display: contents;
  }
}

.tittlestyle {
  color: #009bc0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  /* line-height: 100px; */
  letter-spacing: 0.035em;
}

.top-story {
  text-align: center;
  font-weight: 700;
  letter-spacing: -0.01em;
  font-family: "Poppins", sans-serif;
  line-height: 146.5%;
  margin-top: 70px;
}

.slider-maincontainer .slid .slick-next {
  width: 40px;
  height: 100px;
  right: -80px;
}

@media screen and (max-width: 900px) {
  .slider-maincontainer .slid .slick-next {
    width: 30px;
    height: 70px;
    right: -40px;
  }
}

.slider-maincontainer .slid .slick-prev {
  left: -100px;
  width: 40px;
  height: 100px;
}

@media screen and (max-width: 900px) {
  .slider-maincontainer .slid .slick-prev {
    width: 30px;
    height: 70px;
    left: -45px;
  }
}

.slid {
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: 0 auto;
  align-items: center;
}

.slid .rectangle-box {
  width: 60%;
  /* overflow: hidden; */
  position: relative;
}

.slid .rectangle-box img {
  width: 100%;
}

.slid .rectangle-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.64);
}
/* .slid .arrows {
  width: 20%;
  text-align: center;
} */

.ellipsis {
  width: 50%;
  margin: 35px auto;
  text-align: center;
}

.ellipsis svg {
  margin-right: 5px;
}

.featured-post {
  position: absolute;
  padding: 15px;
  bottom: 0px;
  z-index: 1;
}

.featured-post small {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 0.035em;
  color: rgba(255, 255, 255, 0.44);
}

.featured-post label {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 45px;
  letter-spacing: 0.035em;
  color: #ffffff;
}

.description {
  font-style: normal;
  font-size: 12px;
  line-height: 160%;
  /* or 30px */

  letter-spacing: 0.035em;

  color: rgba(255, 255, 255, 0.55);
}
